# Main
node_modules/
dist/
**/dist/
*.log
.env
.env.*
!.env.example
.DS_Store
.idea/
.vscode/
coverage/
.nyc_output/
*.tsbuildinfo
apps/*/generated/

# Stryker
.stryker-tmp/
reports/

# Coverage
**/coverage/

# Build
**/dist/

# Prisma generated client (у тебя в apps/*/generated)
apps/**/generated/
